{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <h3>{{ msg }}</h3>
        {% endfor %}
    </ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            {{ question.question_text }}
            {% if question.can_vote %}
            <a href="{% url 'polls:detail' question.id %}"><button style="height:18px">vote</button></a>
            {% endif %}
            <a href="{% url 'polls:results' question.id %}"><button style="height:18px">results</button></a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
